In [67]:
## Initial Imports

import pandas as pd

In [68]:
df = pd.read_csv("C:\\Users\\tfree\\Desktop\\MIA Fintech bc\\MIA-VIRT-FIN-PT-08-2023-U-LOLC\\02-Python\\Homework Instructions\\PyBank\\Resources\\budget_data.csv")

In [69]:
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [103]:
## Total number of months included in a dataset

total_months = df['Date'].nunique()
print("Total Months:", total_months)

Total Months: 86

In [78]:
## The net total amount of Profit/Losses over the entire period

net_total = df['Profit/Losses'].sum()
print("Total:",'$', net_total)

Total: $ 38382578

In [102]:
## The average of the changes in Profit/Losses over the entire period.

df['Difference'] = df['Profit/Losses'].diff()
average_change = df['Difference'].mean()
formatted_average_change = "${:,.2f}" .format(average_change)
print("Average change:", formatted_average_change)

Average change: $-2,315.12

In [100]:
## The greatest increase in profits

df['Difference'] = df['Profit/Losses'].diff()
max_increase = df['Difference'].max()
formatted_max_increase = "(${:.0f})".format(max_increase)
date_of_max_increase = df.loc[df['Difference'] == max_increase, 'Date'].values[0]
print("Greatest increase in profits:", date_of_max_increase , formatted_max_increase)

Greatest increase in profits: Feb-2012 ($1926159)

In [101]:
## The Greatest decrease in profits

df['Difference'] = df['Profit/Losses'].diff()
max_decrease = df['Difference'].min()
formatted_max_increase = "(${:.0f})".format(max_decrease)
date_of_max_increase = df.loc[df['Difference'] == max_decrease, 'Date'].values[0]
print("Greatest decrease in profits:", date_of_max_increase , formatted_max_increase)

Greatest decrease in profits: Sep-2013 ($-2196167)